body {

    background: #f6f8f8;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0;
    line-height: 1.5;

}

.container {

    padding: 0 15px;
}

#quoteDisplay {
    border: solid 1px #080808;
    background: #FFF;
    border-radius: 3px;
    margin-bottom: 15px;/*marge entre les cartes*/

}

button {

    background-color: rgb(13, 42, 173);
    border: none;
    color : white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    border-radius: 12% ;

}